@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
   font-family: 'Nunito', sans-serif;
   font-weight: 400;
   font-size: 16px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   scrollbar-width: thin;
   scrollbar-color: #DC2626 #000;
}

*::-webkit-scrollbar {
   width: 12px !important;
}

*::-webkit-scrollbar-track {
   background: #fff000 !important;
   border-radius: 20px !important;
}

*::-webkit-scrollbar-thumb {
   background: #DC2626 !important;
   border-radius: 20px !important;
}

::-webkit-scrollbar-thumb {
   background: #DC2626 !important;
   border-radius: 10px !important;
}

@keyframes zoomIn {
   0% {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
   }

   50% {
      opacity: 1;
   }
}

input:focus,
textarea:focus {
   outline: none;
   box-shadow: none !important;
}

/* Basic class for tailwindcss */
.transitions {
   @apply transition duration-200 ease-in;
}

.buttons {
   @apply flex items-center justify-center rounded-md;
}

.popBeat {
   animation: popBeat 0.6s ease-in-out infinite alternate;
}

@keyframes popBeat {

   0% {
      transform: scale(0.9);
   }

   100% {
      transform: scale(1);
   }
}

@keyframes spin {
   from {
      transform: rotate(180deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.zIndex {
   z-index: 1000;
}

.play-icon {
   color: #fff;
   background-color: rgba(0, 0, 0, .4);
   box-shadow: 0 0 0 2px #fff, 0 0 10px rgba(0, 0, 0, .5);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: scale(0);
   transition: .1s ease-out;
}

.overlay {
   width: 100%;
   height: 100%;
   opacity: 0;
   position: absolute;
   border-radius: 6px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.movie-image {
   display: block;
   border-radius: 6px;
   width: 100%;
   height: 100%;
   opacity: 1;
}

.movie-card:hover .play-icon,
.topSearchCard:hover .play-icon,
.toWatchPage:hover .play-icon {
   transition: .1.5s ease-in;
   transform: scale(1);
   opacity: 1;
}

.movie-card:hover .overlay,
.topSearchCard:hover .overlay,
.toWatchPage:hover .overlay {
   background-color: rgba(0, 0, 0, .3);
   opacity: 1;
}

.movie-title {
   display: block;
   width: 100%;
   padding: 16px 8px;
   position: absolute;
   bottom: 0;
   height: auto;
   text-align: center;
   transition: .2s ease-in;
   opacity: 1;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .65) 100%);
}

.movie-card:hover .movie-title {
   display: hidden;
   opacity: 0;
}

.ant-progress-text,
.ant-breadcrumb-link,
.ant-breadcrumb-separator {
   color: white !important;
   font-weight: 500;
}

.ant-breadcrumb-link:hover {
   color: #DC2626 !important;
   cursor: pointer;
   transition: ease-in .2s;
}

.ant-dropdown-menu {
   background-color: #6B7280 !important;
   border-radius: 6px !important;
   padding: 8px 0 !important;
   width: fit-content;
}

.ant-dropdown-arrow::before {
   background-color: #6B7280 !important;
}

.ant-dropdown-menu-item {
   padding: 0 !important;
}

.ant-notification-notice {
   padding: 28px 24px !important;
}

.ant-notification-notice-icon {
   margin-top: 8px !important;
}

.ant-notification-notice-message {
   color: white !important;
   font-size: 24px !important;
   font-weight: 600;
}

.ant-notification-notice-description {
   color: white !important;
   font-size: 16px !important;
}

.ant-notification-notice-close {
   color: white !important;
   font-size: 20px !important;
   margin-top: 8px !important;
}

.ant-notification-notice-success {
   background-color: #5fb662 !important;
}

.ant-notification-notice-error {
   background-color: #ff3448 !important;
}

.ant-notification-notice-icon-success,
.ant-notification-notice-icon-error {
   color: white !important;
}

.profileIcon {
   filter: invert(52%) sepia(27%) saturate(7098%) hue-rotate(162deg) brightness(96%) contrast(102%);
}

.ant-menu-item {
   padding: 0 16px !important;
}

.ant-anchor-ink {
   width: 0 !important;
   height: 0 !important;
}

.ant-anchor-link-active {
   background-color: #DC2626 !important;
   border-radius: 8px !important;
}

.ant-anchor-link {
   margin: 4px !important;
   line-height: 36px !important;
   font-size: 16px !important;
}

.ant-anchor-link:hover {
   background-color: #6B7280;
   border-radius: 8px;
}

@keyframes slide-top {
   0% {
      transform: translateY(30px);
      opacity: .4;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.slide-top {
   animation: slide-top .6s ease both
}

.ant-modal-mask {
   background-color: rgba(0, 0, 0, 0) !important;
}

.ant-modal-content {
   background-color: #f3f4f6 !important;
   border: 2px solid #9ca3af !important;
}

.ant-modal-header {
   background-color: #f3f4f6 !important;
   display: flex;
   justify-content: center;
}

.ant-modal-title {
   font-size: 24px !important;
}

.ant-select-selector {
   background-color: #E5E7EB !important;
   border-radius: 4px !important;
}